.all-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .link-container {
    margin: 20px;
  }
  
  .link-box {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .link-box:hover {
    transform: translateY(-5px);
  }
  
  .link-box h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
  }
  
  .link {
    text-decoration: none;
    color: #333;
  }
  